@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/npm/roboto-font@0.1.0/css/fonts.min.css');


body {
    font-family: 'Poppins', sans-serif;
}

body nav {
    font-family: 'Robotto', sans-serif;
}




.text-navbar {
    @apply text-[14px] leading-[24px] text-secondary font-normal;
}

.button-rounded-none {
    @apply bg-secondary py-[8px] px-[20px] text-white 
}

.button-reverse-border {
    @apply border-2 text-secondary border-secondary py-[4px] px-[40px]
}

.card-category {
    @apply border-[1px] border-[#FFFFFFD9] shadow-2xl px-[50px] py-[50px] max-w-[250px] rounded-[10px]
}

.card-product {
    box-shadow: 0px 0px 5px 0px #00000099;
    @apply border-[1px] border-[#FFFFFFD9]    rounded-[10px] px-[30px] py-[20px]
}

.card-shoes {
    box-shadow: 0px 0px 5px 0px #00000099;
    
    @apply border-[1px] border-[#FFFFFFD9]  rounded-[10px] 
}

.card-recomendation {
    border: 1px solid #00000059;
}


.h1 {
    @apply  text-[26px] font-black leading-[38px] mb-[18px];
}


.input-account {
    @apply px-3 py-3 min-w-[379px] rounded-lg
}

.button-reverse {
    @apply bg-white text-primary py-[8px] px-[30px] rounded-lg
}

.shadow {
    box-shadow: 0px 0px 5px 0px #00000099
}


.square {
    @apply w-[30px] h-[30px] rounded-[10px]
}


.progress-rounded .css-1jrtelv {
    @apply rounded-lg
}

.card-comment {
    border: 1px solid #6D6C80;
    @apply rounded-lg p-5
}


.bg-atm{
    background: #D6DFDE;
    @apply rounded-lg px-5 py-4
}






.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px; /* Adjust the padding as needed */
    cursor: pointer;
    font-size: 16px;
  }

  /* Hide default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Style custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px; /* Adjust the size as needed */
    width: 20px; /* Adjust the size as needed */
    background-color: #ddd;
    border: 1px solid #bbb;
    border-radius: 4px;
  }

  /* Style checked checkbox */
  .checkbox-container input:checked + .checkmark {
    background-color: #CF6605; /* Change the background color when checked */
    border: 1px solid #CF6605; /* Change the border color when checked */
  }

  /* Style checkmark inside the checkbox */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /* Show checkmark when checkbox is checked */
  .checkbox-container input:checked + .checkmark:after {
    display: block;
  }